body > footer {
  padding: 40px 0 30px;
  font-size: .9rem;
}
.footer-menu {
    list-style: disc;
    display: block;
    li {
        position: relative;
    }
    li:first-child {
        margin-left: 0;
    }
    li:last-child {
        margin-right: 0;
    }
    li:last-child:before {
        display: none;
    }
}
.footer-social {
  ul {
      overflow: visible;
      padding-left: 0;
      padding-bottom: 20px;
      li {
          float: none;
          list-style-type: none;
          float: left;
          margin-top: 6px;
          i {
              background: #205D7A;
              color: #fff;
              width: 34px;
              height: 34px;
              border-radius: 20px;
              font-size: 20px;
              text-align: center;
              margin-right: 6px;
              padding-top: 18%;
          }
      }
      @media (max-width:767px) {
        margin-top: 30px;
        max-width: 100%;
        margin-left: auto;
        padding-left: 0;
        margin-right: auto
      }
  }
  .skipperinnovations {
      img {
          width: 100%;
          max-width: 480px;
          margin-top: 20px;
      }
  }
  .fa-facebook {
      background: #3b5998
  }
  .fa-linkedin {
      background: #007bb6
  }
  .fa-twitter {
      background: #00aced
  }
  .fa-youtube {
      background: #b00
  }
  .norah {
      background: $color-1;
  }
  .fa-instagram {
      background: #fbad50
  }
  .fa-github {
      background: #ffffff;
      color: #333;
  }
}
