.banner .nav li {
  @extend .nav-item;
}
.banner .nav a {
  @extend .nav-link;
}
.navbar-nav .nav-item + .nav-item, .navbar-nav .banner .nav li + .nav-item, .banner .nav .navbar-nav li + .nav-item, .navbar-nav .banner .nav .nav-item + li, .banner .nav .navbar-nav .nav-item + li, .navbar-nav .banner .nav li + li, .banner .nav .navbar-nav li + li {
  margin-left: 1.5rem;
}
// Add space for admin-bar on elements along the top
.admin-bar, .admin-bar .nav-primary, .admin-bar #landing  {
  top: 32px;
  @media (max-width: 782px) {
    top: 46px;
  }
}
.navbar-fixed-top {
  @media (max-width: 600px) {
    position: absolute;
  }
}
.navbar {
}
.navbar-nav {
  @media (max-width: 767px) {
    .nav-item + .nav-item {
      margin-left: 0;
    }
  }
}
.navbar-brand {
  @media (max-width: 767px) {
    float: none;
  }
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .banner .nav a:focus, .banner .nav .navbar-dark .navbar-nav a:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .banner .nav a:hover, .banner .nav .navbar-dark .navbar-nav a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .banner .nav a, .banner .nav .navbar-dark .navbar-nav a, .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .banner .nav a, .banner .nav .navbar-dark .navbar-nav a {
  color: rgba(255, 255, 255, 0.65);
}
