//@include parallax-init(1, 'body', true);
html {
}
body {
}
body.home {
  background-color: #222;
}
.mainwrap {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  .content {
    h1 {
      border-bottom: 2px solid $off-white;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
  }
}
.page, .single, .blog, .archive, body.author {
  padding-top: 56px;
}
.home {
  padding-top: 0;
  section {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
  }
}
.give-form-title {
  display: none;
}
