//@include parallax-init(1, 'body', true);
html {
}
body {
}
.page, .single, .blog, .archive, body.author {
  padding-top: 120px;
}
.home {
  padding-top: 0;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.background-img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}
