.skipper-text-shadow {
  text-shadow: 0 0 12px #000;
}
.skipper-box-shadow {
  box-shadow: 0 0 12px #000;
}
.skipper-bg1 {
  background-color: #fff;
  position: relative;
}
.skipper-bg2 {
  background-color: #333;
  color: #fff;
  position: relative;
}
.border-bottom {
  border-bottom: 1px solid #ededed;
  padding-bottom: 8px;
}
.flex-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fullvh {
  height: 100vh;
}
