// Colors
$brand-primary:         #FB6648;
$brand-info:            #32809E;
$brand-warning:         #FBA548;
$brand-success:         #34B664;

$color-1: rgba(157, 92, 97, 1);

$off-white: #d9d9d9;

// Global options
$enable-flex:           true;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Vendor variables
$fa-font-path:          '~font-awesome/fonts';
